API_ID=6703e6a286a89062987e9f65
API_HASH=

RANDOM_TURBO_TAPS=
RANDOM_TAPS=

AUTO_APPLY_TURBO=
AUTO_APPLY_ENERGY=

AUTO_UPGRADE_DAMAGE=true
MAX_DAMAGE_LEVEL=

AUTO_UPGRADE_RECHARGE=true
MAX_RECHARGE_LEVEL=true

AUTO_UPGRADE_ENERGY=
MAX_ENERGY_LEVEL=

AUTO_BUY_TAPBOT=
AUTO_CLAIM_AND_START_TAPBOT=true
AUTO_SPIN=true

AUTO_COMPLETE_TASKS=true

MIN_AVAILABLE_ENERGY=

SLEEP_BETWEEN_REQUESTS=

DELAY_BETWEEN_TURBO=

DELAY_BETWEEN_TAPS=

DELAY_BETWEEN_TASKS=

USE_REGISTRATION_PROXY=

USE_PROXY_FROM_JS_FILE=

USE_PROXY_FROM_TXT_FILE=

DELAY_BETWEEN_STARTING_BOT=

USE_CODES_FROM_FILE=

AUTO_TAPPING=

MAX_CONCURRENT_ACCOUNT=

USE_NON_THREAD=

SLEEP_BETWEEN_NON_THREADS=

